@{
    ViewData["Title"] = "病人資訊清單";
    List<SelectListItem> GenderCodeList = (List<SelectListItem>)ViewBag.GenderCodeList;
    PatientViewModel PatientViewModel = (PatientViewModel)ViewBag.PatientViewModel;
}

<div id="patientForm">
    <div class="modal-header">
        <h1 class="display-4">病人資訊清單</h1>
    </div>
    <div class="modal-body">

        @* 查詢條件 *@
        <div class="row">
            <div class="form-inline col-md-3">
                <label class="control-label">病歷號</label>
                <input type="text" class="form-control" id="SearchPatientId" name="SearchPatientId" value="" />
            </div>
            <div class="form-inline col-md-3">
                <label class="control-label">身分證字號</label>
                <input type="text" class="form-control" id="SearchIdNo" name="SearchIdNo" value="" />
            </div>
            <div class="form-inline col-md-3">
                <label class="control-label">姓</label>
                <input type="text" class="form-control" id="SearchFamilyName" name="SearchFamilyName" value="" />
            </div>
            <div class="form-inline col-md-3">
                <label class="control-label">名</label>
                <input type="text" class="form-control" id="SearchGivenName" name="SearchGivenName" value="" />
            </div>
        </div>
        </div>
        <div class="row">
            <div class="form-inline">
                <button type="button" id="search-button" class="btn btn-primary" style="float: right;" onclick="Search()">查詢</button>
                <button type="button" class="btn btn-success" style="float: right;" onclick="Add()">新增</button>
            </div>
            <p></p>
        </div>

        @* 資訊清單 *@
    <div class="modal-body">
        <div id="table-search" "class="table-responsive" style="display:none;">

           <table class="table table-striped" id="patientList" style="display:table">
               <thead style="vertical-align: middle;">
                   <tr>
                       <th></th>
                       <th>病歷號</th>
                       <th>姓名</th>
                       <th>性別</th>
                       <th>身分證字號</th>
                       <th>生日</th>
                   </tr>
               </thead>
               <tbody>
               </tbody>
           </table>
        </div>
    </div>
    <div>
        <span id="noData" style="display: none;">查無資料</span>
    </div>

        @* 新增/編輯 *@
    <div id="editForm" style="display:none;">
        <div class=" row">
            <div class=" form-group col-md-12">
                <label class=" control-label">病歷號</label>
                <input type="text" class="form-control" id="PatientId" value="@PatientViewModel.PatientId">
            </div>
        </div>
        <div class="row">
            <div class="form-inline col-md-6">
                <label class="control-label">姓</label>
                <input type="text" class="form-control" id="FamilyName" name="FamilyName" value="@PatientViewModel.FamilyName" />
            </div>
            <div class="form-inline col-md-6">
                <label class="control-label">名</label>
                <input type="text" class="form-control" id="GivenName" name="GivenName" value="@PatientViewModel.GivenName" />
            </div>
        </div>

        <div class="row">
            <div class="form-inline col-md-3">
                <label class="control-label">身分證字號</label>
                <input type="text" class="form-control" id="IdNo" name="IdNo" value="@PatientViewModel.IdNo" />
            </div>
            <div class="form-inline col-md-3">
                <label class="control-label">生日</label>
                <input type="date" class="form-control" id="Birthday" name="Birthday" value="@PatientViewModel.Birthday.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-inline col-md-3">
                <label>性別</label>
        @Html.DropDownList("group", GenderCodeList, "請下拉選單", new { @class = "form-control", id = "Gender" })
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">連絡電話</label>
                <input type="text" class="form-control" id="Telecom" name="Telecom" value="@PatientViewModel.Telecom" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label">住址</label>
                <textarea class="form-control" rows="3" id="Address" name="Address">@PatientViewModel.Address</textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-inline col-md-3">
                <label class="control-label">血型</label>
                <select class="form-control" id="BloodType" name="BloodType">
                    <option value="" disabled selected>請下拉選單</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                    <option value="O">O</option>
                </select>
            </div>

            <div class="form-inline col-md-3">
                <label class="control-label">緊急連絡人</label>
                <input type="text" class="form-control" id="EmergencyContact" name="EmergencyContact" value="@PatientViewModel.EmergencyContact" />
            </div>

            <div class="form-inline col-md-3">
                <label class="control-label">緊急連絡人電話</label> <!-- 新增 -->
                <input type="text" class="form-control" id="EmergencyContactPhone" name="EmergencyContactPhone" value="@PatientViewModel.EmergencyContactPhone" /> <!-- 新增 -->
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">特殊疾病史</label>
                <textarea class="form-control" rows="3" id="MedicalHistory" name="MedicalHistory">@PatientViewModel.MedicalHistory</textarea>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">過敏資訊</label>
                <textarea class="form-control" rows="3" id="AllergyInfo" name="AllergyInfo">@PatientViewModel.AllergyInfo</textarea>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="submitButton" style="display: none" onClick="Submit()">儲存</button>
</div>
<style>
    .modal-body {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .table-responsive {
        overflow-x: auto;
        display: none;
    }

    .table th, .table td {
        width: 16.6%;
    }

    #patientList {
        width: 100%;
        table-layout: fixed;
    }
</style>

<script>
    // controlling form display
    const showSearchForm = document.getElementById("search-button")
    const searchForm = document.getElementById("table-search")
    console.log("searchForm.style.display ", searchForm.style)

    showSearchForm.addEventListener("click", () => {
        if (searchForm.style.display === "none" || searchForm.style.display === "") {
            searchForm.style.display = "block";
        } else {
            searchForm.style.display = "none";
        }
    })

    /* 查詢 */
    function Search() {
        $.ajax({
            url: '@Url.Content("~/Patient/Search")',
            method: 'POST',
            dataType: 'json',
            data: {
                patientId: document.getElementById("SearchPatientId").value,
                idNo: document.getElementById("SearchIdNo").value,
                familyName: document.getElementById("SearchFamilyName").value,
                givenName: document.getElementById("SearchGivenName").value
            },
            success: function (result) {
                if (result.status != 'error') {
                    if (result.length > 0) {
                        document.getElementById("patientList").style.display = "table";
                        document.getElementById("noData").style.display = "none";
                        SearchList(result);
                    }
                    else {
                        document.getElementById("patientList").style.display = "table";
                        document.getElementById("noData").style.display = "block";
                    }
                    return;
                }
                alert(result.message);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    };

    /* 產生資料列表 */
    function SearchList(result) {
        var table = document.getElementById("patientList");
        if (table.rows.length > 1) {
            for (var i = 1; i < table.rows.length;) {
                table.deleteRow(i);
            }
        }

        for (let i = 0; i < result.length; i++) {
            var row = table.insertRow(i + 1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);

            cell1.innerHTML = `<button type="button" class="btn btn-warning" onClick="Update(` + result[i].patientId + `)">修改</button>
                                    <button type="button" class="btn btn-danger" onClick="Delete(` + result[i].patientId + ` )">刪除</button>`;
            cell2.innerHTML = result[i].patientId;
            cell3.innerHTML = result[i].familyName + result[i].givenName;
            cell4.innerHTML = (result[i].gender == 'M') ? '男' : '女';
            cell5.innerHTML = result[i].idNo;
            cell6.innerHTML = new Date(result[i].birthday).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
        }
    };

    /* 儲存 */
    function Submit() {
        var formData = {
            PatientId: document.getElementById("PatientId").value,
            IdNo: document.getElementById("IdNo").value,
            Active: true,
            FamilyName: document.getElementById("FamilyName").value,
            GivenName: document.getElementById("GivenName").value,
            Telecom: document.getElementById("Telecom").value,
            Gender: document.getElementById("Gender").value,
            Birthday: document.getElementById("Birthday").value,
            Address: document.getElementById("Address").value,
            BloodType: document.getElementById("BloodType").value,
            EmergencyContact: document.getElementById("EmergencyContact").value,
            EmergencyContactPhone: document.getElementById("EmergencyContactPhone").value,  // 新增
            MedicalHistory: document.getElementById("MedicalHistory").value,
            AllergyInfo: document.getElementById("AllergyInfo").value
        }

        //console.log('formData', formData)

        $.ajax({
            url: '@Url.Content("~/Patient/Save")',
            method: 'POST',
            dataType: 'json',
            data: {
                patientViewModel: formData
            },
            success: function (result) {
                if (result > 0) {
                    document.getElementById('editForm').style.display = "none";
                    document.getElementById('submitButton').style.display = "none";
                    Search();
                    alert("儲存成功");
                    return;
                }
                alert(result.Error);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    };

    /* 新增 */
    function Add() {
        document.getElementById('editForm').style.display = "block";
        document.getElementById('submitButton').style.display = "block";

        document.getElementById("PatientId").value = 0;
        document.getElementById("FamilyName").value = "";
        document.getElementById("GivenName").value = "";
        document.getElementById("IdNo").value = "";
        document.getElementById("Birthday").value = new Date().toLocaleDateString('en-CA');
        document.getElementById("Gender").value = "";
        document.getElementById("Telecom").value = "";
        document.getElementById("Address").value = "";
        document.getElementById("BloodType").value = "";
        document.getElementById("EmergencyContact").value = "";
        document.getElementById("EmergencyContactPhone").value = "";  // 新增
        document.getElementById("MedicalHistory").value = "";
        document.getElementById("AllergyInfo").value = "";
    };

    /* 修改 */
    function Update(id) {
        $.ajax({
            url: '@Url.Content("~/Patient/Search")',
            method: 'POST',
            dataType: 'json',
            data: {
                patientId: id
            },
            success: function (result) {
                if (result) {
                    document.getElementById('editForm').style.display = "block";
                    document.getElementById('submitButton').style.display = "block";

                    document.getElementById("PatientId").value = result[0].patientId;
                    document.getElementById("FamilyName").value = result[0].familyName;
                    document.getElementById("GivenName").value = result[0].givenName;
                    document.getElementById("IdNo").value = result[0].idNo;
                    document.getElementById("Birthday").value = new Date(result[0].birthday).toLocaleDateString('en-CA');
                    document.getElementById("Gender").value = result[0].gender;
                    document.getElementById("Telecom").value = result[0].telecom;
                    document.getElementById("Address").value = result[0].address;
                    document.getElementById("BloodType").value = result[0].bloodType;
                    document.getElementById("EmergencyContact").value = result[0].emergencyContact;
                    document.getElementById("EmergencyContactPhone").value = result[0].emergencyContactPhone;  // 新增
                    document.getElementById("MedicalHistory").value = result[0].medicalHistory;
                    document.getElementById("AllergyInfo").value = result[0].allergyInfo;
                    return;
                }
                alert(result.message);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    };

    /* 刪除 */
    function Delete(id) {
        $.ajax({
            url: '@Url.Content("~/Patient/Delete")',
            method: 'POST',
            dataType: 'json',
            data: {
                patientId: id
            },
            success: function (result) {
                if (result) {
                    Search();
                    alert("刪除成功");
                    return;
                }
                alert(result.message);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    };
</script>
